<div class="container text-center p-5">

  <div *ngIf="estaCarregando" class="spinner-border" role="status">
    <span class="sr-only"></span>
  </div>

  <div *ngIf="erroCarregamento" class="alert alert-info col-md-6 d-inline-block" role="alert">
    Ops... Temos um problema!
    <br>
    <button (click)="carregarExtrato()" type="button" class="btn btn-primary mt-3">Tentar Novamente</button>
  </div>

  <div *ngIf="!estaCarregando && !erroCarregamento">
    <button (click)="paginaAnterior()" [disabled]="pagina === 1" class="btn btn-primary m-lg-1">Página anterior</button>
    <p>Página atual: {{pagina}}</p>
    <button (click)="proximaPagina()" class="btn btn-secondary">Próxima página</button>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Data</th>
          <th scope="col">Descrição</th>
          <th scope="col">Valor</th>
          <th scope="col">Categoria</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tsc of transacoes">
          <td scope="row">{{tsc.id}}</td>
          <td>{{tsc.data | date}}</td>
          <td>{{tsc.descricao}}</td>
          <td>{{tsc.valor | currency: 'BRL'}}</td>
          <td>{{tsc.categoria}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<router-outlet></router-outlet>
