<p>Valor Atual Contador {{valorContador}}</p>

<app-ex-contador
[(val)]="valorContador">
</app-ex-contador>

<h1>ex data binding</h1>

<button (click)="onClickBtnEmissor($event)">
    Emitir informação do click
</button>
<br><br>

<button
(click)="clicou($event)"
(mouseenter)="passouMouse()">
Clique aqui
</button>

<input type="text"
[value]="valorInput"
(keyup)="digitouAlgo($event)">

<h1>
    Valor do Input: {{valorInput}}
</h1>

<img [src]="imageUrl">

<input type="text"
[value]="valorInc">

<h2>Palavra: {{palavra}} </h2>

<h2> Cor fav: {{color}}</h2>
